.feynman__subtitle {
    margin: 0 auto;
    padding: 70px 0px 0px;
    display: flex;
    justify-content: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #000;
  }