.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap:wrap;
  background-color: #F2F2F2;
  position: relative;


  /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */

.header__square-pic {
  display: flex;
  height: 568px;
  width: 568px;
  z-index: 1;
  background-color:#2F80ED;
  position: absolute;
  top:64px;
  right:0px;
}

.logo_place_header {
  position: absolute;
  z-index: 3;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0px;
  padding-left: 64px;
  width: 730px;
  z-index: 3;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 64px;
}

.header__main-illustration {
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 756px;
  height: 608px;
  object-fit: contain;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

.header__link {
  margin: 0px;
  padding: 0px;
  color: #2F80ED;
  text-decoration: none;
}

.description {
 padding: 100px 0px 0px;
}

.two-columns {
  width: 80%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0px;
  padding: 0px;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  margin: 0px;
  padding: 0px;
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin:0px;
  padding: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.section-title {
  width: 60%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  color: #000;
}

.techniques__section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width:60%;
  margin:0 auto;
  padding: 20px 0px 0px;
  text-align: center;
  color: #000;
}
.techniques__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.cards {
  margin: 0 auto;
  padding: 0px;
  max-width: 920px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 100px;
}
.cards__item {
  margin: 0px;
  padding: 0px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
}
.cards__image {
  margin: 0;
  padding: 60px 40px 43px;
  width: 160px;
  height: 160px; 
  border-radius: 50%;
}
.cards__title {
  margin: 0;
  padding: 0px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.cards__description {
  margin: 0px;
  padding: 16px 0px 0px;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.video__section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.video__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.video__iframes {
  margin: 0 auto;
  padding: 50px 0px 0px;
  border: none;
  display: flex;
  gap: 20px;
  z-index: 3;
}
.iframe {

}

.oakley {
  margin: 0 auto;
  padding-top: 160px;
  background-color: #F2F2F2;
}

.feynman {
  min-height: 790px;
  position: relative;
  z-index: 0;
  background-color: #F2F2F2;
}

.feynman__title {
  max-width: 775px;
  margin: 0px auto;
  padding: 80px 0px 0px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000;
}

.feynman__subtitle {
  margin: 0 auto;
  padding: 70px 0px 0px;
  display: flex;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
}

.feynman__link {
  margin: 0px;
  padding: 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2F80ED;
  text-decoration: none;
}

.feynman__image {
  position: absolute;
  z-index: -1;
  left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
}


.digits {
  margin: 0px auto;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* move elements form .digits__section-title to .section__title */


.digits__section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.digits__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  max-width: 1100px;
  margin: 0px;
  padding: 60px 0px 0px;
  list-style: none;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
}

.table__cell {
  margin: 0px;
  padding: 0px;
  width: 250px;
}

.table__heading {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 20px 0px 0px;
  color:#000;
}

.khan {
  margin: 0 auto;
  padding: 105px 0px 0px;
}
.khan__container {
  margin: 0 auto;
  width: 80%;
}
.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.khan__quote {
  margin: 0;
  padding: 50px 0 0;
  max-width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quote-author {
  margin: 0;
  padding: 36px 0 0;
  line-height: 1.15;
  font-size:24px;
  font-weight: bold;
}
.khan__quote-author-subline {
  margin: 0;
  padding: 10px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
.khan__book-container {
  margin: 0;
  padding: 68px 0 0;
  display: flex;
  gap: 48px;
}
.khan__book-pic {
  max-width: 620px;
  max-height: 608px;
}
.khan__buy-link {
  color: #2F80ED;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;

}

.kaufman {
  margin: 0px;
  padding: 90px 0px;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}
.section__title_theme_dark {
  margin: 0 auto;
  padding: 0px;
  width: 60%; 
  text-align: center; 
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 3;
}

.section__subtitle_theme_dark {
  margin: 0 auto;
  padding: 20px 0px 0px;
  width: 60%; 
  z-index: 3; 
  text-align: center; 
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  margin: 0px auto;
  padding: 80px 0px 0px;
  max-width: 1100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px normal;
  z-index: 3;
}

.table__cell_theme_dark {
  margin: 0px;
  padding: 0px;
  max-width: 200px;
  color: white;
  position: relative;
  z-index: 2;
  gap: 80px;
}


.table__heading_theme_dark {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.table__text_theme_dark {
  margin: 0px;
  padding: 20px 0px 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0px;
  right: -124px;
  z-index: 1;
  background-image: url("../images/kaufman-triangle.svg");
}

.resources {
  padding: 100px 0 0;
  margin: 0 auto;
}

.resources__section-title {
  margin: 0 auto;
  padding: 0px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.resources__section-subtitle {
  margin: 0 auto;
  padding: 20px 0 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}


.logo-zone {
  margin: 0 auto;
  padding: 80px 0 217px;
  max-width: 1100px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.resources-logo {
  width: 270px;
  height: 38px;
}

.footer {
  margin: 0px auto;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content-copyright {
    margin: 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis:711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 0px;
  padding: 18px 0px;
  bottom: 0px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content-about {
  margin: 0px;
  padding: 0px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-heading {
  margin: 0px;
  padding: 0px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 20px 0px 0px;
  flex-wrap: nowrap;
}

.footer__column_content-social {
  margin: 0px;
  padding: 0px;
  width: auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
